@font-face{
	font-family: 'M PLUS 1p'; 
	src: url('../fonts/Mplus1p.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 400;
}

@font-face{
	font-family: 'M PLUS 1p'; 
	src: url('../fonts/Mplus1pmedium.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 500;
}

@font-face{
	font-family: 'M PLUS 1p'; 
	src: url('../fonts/Mplus1pbold.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 700;
}

@font-face{
	font-family: 'M PLUS 1p'; 
	src: url('../fonts/Mplus1pextrabold.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
	font-weight: 800;
}