.features-section{
	padding: 35px 0 50px;
	background: url(../img/backgrounds/features-bg.jpg) no-repeat center center / cover;
	position: relative;

	.scroll-next-btn{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -23px;
	}

	.section-caption{
		margin-bottom: 50px;
	}

	@media screen and (max-width: 575px){
		padding-bottom: 100px;

		.section-caption{
			margin-bottom: 45px;
		}
	}
}

.features-list{
	display: grid;
	grid-template-columns: repeat(5, 220px);
	justify-content: space-between;
	grid-gap: 46px;


	@media screen and (max-width: 1199px){
		grid-gap: 20px;
	}

	@media screen and (max-width: 1199px){
		width: calc(100% + 20px * 2);
		display: block;
		margin-left: -20px;
		margin-right: -20px;

		.item{
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	@media screen and (max-width: 575px){
		// width: calc(240px + 27px * 2);

		.slick-arrow{
			width: 34px;
			height: 34px;

			&.slick-prev{
				left: 5px;
			}

			&.slick-next{
				right: 5px;
			}
		}
	}
}

.feature-card{
	width: 220px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	min-height: 210px;
	display: flex;
	text-align: center;
	color: $text-dark;
	font-size: 16px;
	line-height: 1.15;
	box-shadow: 0px 8px 20px rgba(78, 127, 222, 0.2);
	border-radius: 6px;
	background: #fff;

	.card-inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 12px 10px;
		box-shadow: 0px 8px 20px rgba(78, 127, 222, 0.2);
		border-radius: 6px;
		background: #fff;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 190'%3E%3Crect x='1.5' y='1.5' width='197' height='187' rx='4.5' fill='transparent' stroke='url(%23paint0_linear)' stroke-width='3'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='95.38' y1='0' x2='95.38' y2='187.56' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E9ECA5'/%3E%3Cstop offset='1' stop-color='%23A7DC52'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / contain;
			pointer-events: none;
			transition: all .5s;
			opacity: 0;
		}
	}

	&:hover,
	&:focus{
		.card-inner{
			&:after{
				opacity: 1;
			}
		}
	}

	.card-icon{
		width: 46px;
		height: 46px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 28px;

		img{
			max-height: 100%;
			display: block;
			width: auto;
		}
	}
}