.find-section{
	.section-top{
		// background: #f8f9f3;
		padding-bottom: 60px;
		position: relative;
		margin-top: -102px;
		background: transparent;
		z-index: 20;

		.scroll-next-btn{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: -23px;
		}

		@media screen and (max-width: 1239px){
			margin-top: -96px;
		}
	}
}

.find-component{
	position: relative;
	height: 290px;
	user-select: none;

	&:before{
		content: '';
		display: block;
		width: 930px;
		height: 280px;
		background: url(../img/backgrounds/find-cmp-bg.svg) no-repeat center center / contain;
		position: absolute;
		left: 50%;
		transform: translateX(-49.6%);
		top: 0;
		pointer-events: none;
	}

	.cmp-layers{
		position: relative;
		z-index: 4;

		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 78px;
			background: #C7C7C7;
			position: absolute;
			left: 50%;
			top: 83px;
			display: none;

			@media screen and (max-width: 767px){
				display: none;
			}
		}

		.top-layer{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 27px;
			display: none;

			.layer-label{
				color: #fff;
				font-size: 12px;
				font-weight: bold;
				text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
				text-transform: uppercase;
			}
		}

		.middle-layer{
			position: relative;
			z-index: 5;

			.type-button{
				position: absolute;
				top: 0;
				width: 342px;
				height: 185px;
				display: flex;
				align-items: flex-start;

				&:before{
					content: '';
					display: block;
					width: 342px;
					height: 185px;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 342 185'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cmask id='path-1-inside-1' fill='%23fff'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0h335.4C274.27 106.18 149.46 178.2 6 180.47V0z'/%3E%3C/mask%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0h335.4C274.27 106.18 149.46 178.2 6 180.47V0z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M6 0H5v-1h1v1zm335.4 0v-1h1.82l-.97 1.53-.84-.53zM6 180.47l.02 1-1.02.02v-1.02h1zM6-1h335.4v2H6v-2zM342.25.53C274.92 107.01 149.8 179.2 6.02 181.47l-.04-2c143.13-2.27 267.62-74.12 334.58-180l1.7 1.06zM5 180.47V0h2v180.47H5z' fill='%23fff' fill-opacity='.35' mask='url(%23path-1-inside-1)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='173.7' y1='0' x2='173.7' y2='180.47' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2391BC3E'/%3E%3Cstop offset='1' stop-color='%23A7DC52'/%3E%3C/linearGradient%3E%3Cfilter id='filter0_d' x='0' y='0' width='341.41' height='184.47' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='-6' dy='4'/%3E%3CfeColorMatrix values='0 0 0 0 0.569713 0 0 0 0 0.8125 0 0 0 0 0.104948 0 0 0 1 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat center center / contain;
					position: absolute;
					right: 0;
					top: 0;
					opacity: 0;
					transition: all $t;
				}

				.btn-text{
					position: relative;
					z-index: 2;
					display: flex;
					flex-direction: column;
					text-align: center;
					align-items: center;
					justify-content: flex-start;
					white-space: nowrap;
					font-size: 12px;
					line-height: 1.5;
					color: #C1C287;
					text-transform: uppercase;
					padding: 40px 50px;

					strong{
						font-family: $second-font;
						font-weight: bold;
						font-size: 48px;
						line-height: 1.25;
					}
				}

				&:hover,
				&:focus{
					color: $blue;
					outline: none;
				}

				&.active{
					.btn-text{
						color: #fff;
					}

					&:before{
						opacity: 1;
					}
				}

				&:nth-child(1){
					left: calc(50% - 342px);
					transform-origin: right bottom;
					justify-content: flex-end;

					&:before{
						transform: scaleX(-1);
						right: auto;
						left: 0;
					}
				}

				&:nth-child(2){
					right: calc(50% - 342px);
					transform-origin: left bottom;
				}
			}
		}

		.bottom-layer{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 200px;

			.layer-label{
				color: #657492;
				font-size: 12px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}

	.cmp-arc{
		width: 798px;
		height: 235px;
		z-index: 3;
		position: relative;
		position: absolute;
		left: 50%;
		bottom: -3px;
		transform: translateX(-51.5%);
		pointer-events: none;

		> svg{
			margin-top: -18px;
		}

		#scale-mask{
			transition: all $t;
		}

		.limit{
			pointer-events: auto;
			cursor: move !important;
			position: absolute;
			transition: all .02s linear;
			outline: none;

			svg{
				// pointer-events: none;
			}
		}

		.points{
			circle{
				pointer-events: auto;
				cursor: pointer;
				transition: all $t;

				&:hover,
				&:focus,
				&.active{
					outline: none;
					fill: $primary;
					stroke: $primary;
				}
			}
		}

		.arc-labels{
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;

			.arc-label{
				font-size: 13px;
				line-height: 19px;
				font-weight: 500;
				color: #092E36;
				position: absolute;
				transform: translate(27px, 4px);
				cursor: pointer;
				pointer-events: auto;
				transition: all $t;

				&:before{
					content: '';
					display: block;
					width: calc(100% + 5px * 2);
					height: calc(100% + 5px * 2);
					position: absolute;
					left: -5px;
					top: -5px;
				}

				&:hover,
				&:focus,
				&.active{
					font-weight: 800;
					outline: none;
				}

				&:nth-child(1){
					left: -20px;
					top: 0;
				}

				&:nth-child(2){
					left: 21px;
					top: 56px;
				}

				&:nth-child(3){
					left: 98px;
					top: 122px;
				}

				&:nth-child(4){
					left: 165px;
					top: 162px;
				}

				&:nth-child(5){
					left: 236px;
					top: 187px;
				}

				&:nth-child(6){
					left: 326px;
					top: 203px;
				}

				&:nth-child(7){
					left: 411px;
					top: 203px;
				}

				&:nth-child(8){
					left: 501px;
					top: 187px;
				}

				&:nth-child(9){
					left: 580px;
					top: 162px;
				}

				&:nth-child(10){
					left: 647px;
					top: 122px;
				}

				&:nth-child(11){
					left: 724px;
					top: 62px;
				}

				&:nth-child(12){
					left: 775px;
					top: 0;
				}
			}
		}
	}

	@media screen and (max-width: 991px) and (min-width: 768px){
		transform: scale(0.9);
		transform-origin: center top;
	}

	@media screen and (max-width: 767px){
		&:before{
			transform-origin: center top;
			transform: translateX(-49.6%) scale(0.7);
		}

		.middle-layer{
			transform: scale(0.7);
			transform-origin: center top;
		}

		.cmp-arc{
			display: none;
		}

		.cmp-layers{
			height: 200px;
		}

		.bottom-layer{
			white-space: nowrap;
		}
	}

	.from-to-fields{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;

		.item{
			display: flex;
			align-items: center;

			p{
				flex: none;
				font-size: 13px;
				font-weight: 500;
				color: #657492;
			}

			.input-field{
				flex: auto;
				margin-left: 8px;
				font-weight: 800;
				text-align: right;
			}
		}
	}
}

.range-field-wrapper{
	margin-top: 33px;
	position: relative;
	margin-bottom: 25px;

	.label{
		font-size: 13px;
		font-weight: 500;
		color: #657492;
		position: absolute;
		bottom: calc(100% + 4px);

		&.from{
			left: 0;
		}

		&.to{
			right: 0;
		}
	}

	.jcf-range{
		width: 100%;
		margin: 0;
	}

	.jcf-range-wrapper{
		height: 12px;
		border-radius: $r;
		background: #C9D7DA;
	}

	.jcf-range-track{
		// height: 12px;
		// border-radius: $r;
		// background: #C9D7DA;
	}

	.jcf-range-display-wrapper{
		.jcf-range-display{
			border-radius: $r;
			background: #9CC155;
			height: 12px;
		}
	}

	.jcf-range-handle{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #E9E9E9;
		background: #9CC155;
		margin-top: -9px;

		&:before{
			content: '';
			display: block;
			width: 7px;
			height: 7px;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 8'%3E%3Cpath d='M6.75 4.39L4.04 7.1a.55.55 0 01-.78-.78L5.6 4 3.26 1.67A.55.55 0 014.04.9L6.75 3.6c.22.22.22.56 0 .78zm-3.26.16L1.34 6.82a.53.53 0 01-.79 0 .6.6 0 010-.82l1.77-1.86L.55 2.28a.6.6 0 010-.82.53.53 0 01.79 0l2.15 2.27a.6.6 0 010 .82z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
		}

		&.jcf-index-2{
			&:before{
				transform: rotate(-180deg);
			}
		}
	}
}