.first-screen-section{
	background: url(../img/backgrounds/first-screen-bg.jpg) no-repeat center bottom / cover;
	// height: 110vh;
	height: 1114px;
	// min-height: 600px;
	padding-top: 513px;
	position: relative;

	@media screen and (max-width: 991px){
		background-image: url(../img/backgrounds/first-screen-bg-mobile.jpg);
		height: 620px;
		padding-top: 70px;
	}

	.scroll-next-btn{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 150px;
		z-index: 10;

		@media screen and (max-width: 991px){
			display: none;
		}
	}

	.section-content{
		position: relative;
		max-width: 740px;

		.play-btn{
			position: absolute;
			left: 100%;
			bottom: 0;
		}

		@media screen and (max-width: 991px){
			max-width: 370px;
			position: static;

			.play-btn{
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 175px;
			}
		}
	}
}

.page-caption{
	@include h1;
	color: #fff;
}