.first-screen-section{
	background: url(../img/backgrounds/first-screen-bg.jpg) no-repeat center bottom / cover;
	// height: 110vh;
	height: 860px;
	// height: 100vh;
	// min-height: 600px;
	padding-top: 280px;
	position: relative;

	// position: fixed;
	left: 0;
	top: 0;
	width: 100%;

	.scroll-next-btn{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -23px;
		background: linear-gradient(180deg, #9CC155 0%, #A7DC52 100%);
		border: 1px solid #E9E9E9;
		z-index: 10;
		width: 46px;
		height: 46px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;

		.btn-icon{
			width: 10px;
			height: 10px;
			fill: #fff;
		}

		@media screen and (max-width: 991px){
			display: none;
		}
	}

	// @media screen and (min-width: 1800px){
	// 	height: 860px;
	// 	position: fixed;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;

	// 	~ section,
	// 	~ div{
	// 		position: relative;
	// 		z-index: 2;
	// 	}
	// }

	@media screen and (min-width: 1025px){
		background-attachment: fixed;
	}

	@media screen and (max-width: 991px){
		// background-image: url(../img/backgrounds/first-screen-bg-mobile.jpg);
		height: 620px;
		padding-top: 70px;
	}

	.section-content{
		position: relative;
		max-width: 740px;

		.play-btn{
			position: absolute;
			left: calc(100% + 40px);
			bottom: -65px;
		}

		@media screen and (max-width: 991px){
			max-width: 370px;
			position: static;

			.play-btn{
				position: absolute;
				left: 70%;
				transform: translateX(-50%);
				bottom: 175px;
			}
		}

		@media screen and (max-width: 419px){
			.play-btn{
				bottom: 18vw;
			}
		}
	}

	.section-features{
		display: flex;

		.item{
			margin-right: 10px;
			display: flex;
			align-items: center;
			font-size: 16px;
			line-height: 1.111;
			color: #fff;
			max-width: 240px;

			strong{
				font-weight: 800;
			}

			.item-image{
				margin-right: 25px;
				max-width: 46px;
				flex: none;

				img{
					display: block;
					max-width: 100%;
					height: auto;
				}
			}

			&:last-child{
				margin-right: 0;
			}
		}

		@media screen and (max-width: 991px){
			flex-direction: column;
			margin-top: 40px;

			.item{
				margin-right: 0;
				margin-bottom: 16px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

.page-caption{
	@include h1;
	color: #fff;
}