.fit-section{
	padding: 65px 0 135px;
	background: #f8f9f3;
	position: relative;

	.section-caption{
		margin-bottom: 55px;
	}

	@media screen and (max-width: 767px){
		padding-bottom: 30px;
	}

	@media screen and (max-width: 575px){
		.section-caption{
			margin-bottom: 30px;
		}
	}
}

@media screen and (min-width: 992px){
	.fit-list{
		.item{
			&:nth-child(even){
				transform: translateY(60px);
			}
		}
	}
}

@media screen and (max-width: 991px){
	.fit-list-wrapper{
		.fit-list{
			display: block;

			width: calc(100% + 7px * 2);
			margin: -15px -7px;
			
			.item{
				padding: 15px 7px;
			}
		}
	}
}

@media screen and (max-width: 575px){
	.fit-list-wrapper{
		.fit-list{
			width: calc(100% + 7px * 2 + 310px);
			margin: -15px -162px;
			
			.item{
				padding: 15px 7px;
			}
		}
	}
}

.fit-card{
	padding: 50px 50px 60px;
	border-radius: $r;
	box-shadow: 0px 8px 20px rgba(91, 72, 44, 0.2);
	background: #fff;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	&:before,
	&:after{
		content: '';
		display: block;
		width: calc(100% - 20px);
		height: calc(50% - 20px);
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 270 290'%3E%3Cmask id='path-1-inside-1' fill='%23fff'%3E%3Crect width='270' height='290' rx='3'/%3E%3C/mask%3E%3Crect width='270' height='290' rx='3' stroke='url(%23paint0_linear)' stroke-width='12' mask='url(%23path-1-inside-1)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='141' y1='0' x2='141' y2='290' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FFEF9A'/%3E%3Cstop offset='1' stop-color='%23E7C16F'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E") no-repeat center top / 100% auto;
	}

	&:before{
		z-index: 2;
		transform: translate(-50%, -100%);
	}

	&:after{
		transform: translate(-50%, 0);
		background-position: center bottom;
	}

	.card-image{
		width: 120px;
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: none;
		margin-bottom: 25px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 120px;
			height: 120px;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -35px;
			background: #F7FFC2;
			opacity: .66;
		}

		img{
			display: block;
			max-width: 100%;
			height: auto;
			position: relative;
			z-index: 2;
		}

		&.align-end{
			align-items: flex-end;
			padding-bottom: 5px;
		}
	}

	.card-caption{
		text-align: center;
		@include h4;
		color: $text-dark;
		padding-bottom: 18px;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 30px;
			height: 3px;
			border-radius: 2px;
			background: $primary;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 0;
		}
	}

	@media screen and (max-width: 1199px){
		padding-left: 30px;
		padding-right: 30px;
	}

	@media screen and (max-width: 991px){
		box-shadow: 0px 8px 10px rgba(91, 72, 44, 0.2);
	}

	@media screen and (max-width: 575px){
		padding-top: 35px;
		padding-bottom: 40px;
	}
}