.how-we-work-section{
	padding: 80px 0 40px;

	.section-caption{
		margin-bottom: 60px;
	}

	.section-inner{
		display: grid;
		grid-template-columns: 7fr 5fr;
		grid-gap: 30px;
	}

	.section-sidebar{
		display: flex;
		flex-direction: column;
		align-items: center;

		.btn{
			min-width: 220px;
		}
	}

	.section-content{
		display: flex;
		flex-direction: column;

		.how-we-work-list{
			margin-top: auto;
		}
	}

	.sidebar-image{
		margin-bottom: -35px;
		display: block;
		max-width: 100%;
		height: auto;
	}

	.section-footer{
		margin-top: 67px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.btn{
			margin-top: 40px;
		}
	}

	@media screen and (max-width: 1199px){
		.section-inner{
			grid-template-columns: 1fr 300px;
		}

		.sidebar-image{
			margin-left: -30px;
			margin-right: -30px;
			max-width: calc(100% + 30px * 2);
			margin-bottom: 0;
		}
	}

	@media screen and (max-width: 991px){
		.section-inner{
			grid-template-columns: 100%;
			grid-gap: 25px;
		}

		.sidebar-image{
			width: 400px;
			margin-left: auto;
			margin-right: auto;
		}

		.section-sidebar{
			.small-features-list{
				margin-bottom: 30px;
			}
		}
	}

	@media screen and (max-width: 575px){
		padding: 55px 0 25px;

		.section-caption{
			margin-bottom: 25px;
		}

		.sidebar-image{
			width: 100%;
		}
	}
}

.beige-gradient{
	background: linear-gradient(175.99deg, #F9F4D7 -7.67%, #F8F9F3 37.46%, #FFFFFF 96.72%);
}

.how-we-work-list{
	counter-reset: li;
	display: grid;
	grid-gap: 45px;
	color: $text-light;
	margin-bottom: 50px;

	li{
		counter-increment: li;
		// display: flex;
		// align-items: center;
		padding-left: 60px;
		position: relative;
		font-size: 16px;
		line-height: 1.5;

		&:before{
			content: counter(li, decimal-leading-zero);
			font-size: 30px;
			font-family: $second-font;
			font-weight: bold;
			color: $orange;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}

		a{
			font-weight: 800;
			display: inline-block;
			margin: 0 0.3em;
			border-bottom: 2px solid $orange;
			color: currentcolor;

			&:hover,
			&:focus{
				color: $orange;
			}
		}
	}

	@media screen and (max-width: 575px){
		grid-gap: 15px;
		margin-bottom: 30px;

		li{
			padding-left: 40px;
			font-size: 14px;
			left: 18px;

			&:before{
				font-size: 22px;
				line-height: 1.05;
				top: 0;
				transform: translateY(0);
			}

			a{
				line-height: .9;
			}
		}
	}
}

.small-features-list{
	display: flex;

	.item{
		margin-right: 50px;
		display: grid;
		grid-template-columns: 50px 215px;
		grid-gap: 10px;
		align-items: center;
		padding: 3px 0;

		&:last-child{
			margin-right: 0;
		}
	}

	.item-icon{
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.item-text{
		color: $text-light;
		font-size: 16px;
		line-height: 1.5;

		strong{
			font-weight: 800;
			color: $text-dark;
		}
	}

	@media screen and (max-width: 1199px){
		.item{
			margin-right: 20px;
		}
	}

	@media screen and (max-width: 767px){
		flex-direction: column;
		align-items: stretch;

		.item{
			margin-right: 0;
			margin-bottom: 25px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	@media screen and (max-width: 575px){
		width: 100%;

		.item{
			grid-template-columns: 40px 1fr;

			.item-text{
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

.how-we-work-component{
	position: relative;

	.cmp-scale{
		width: 1382px;
		height: 102px;
		margin-left: -46px;
		margin-right: -46px;
		position: relative;
		z-index: 2;

		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background: url(../img/content-images/scale.svg) no-repeat center center / contain;
			z-index: 2;
			pointer-events: none;
		}

		.cmp-bar{
			width: 300px;
			height: 70px;
			position: absolute;
			left: 6px;
			top: 16px;
			display: flex;
			transition: all .5s;

			&:before{
				content: '';
				display: block;
				flex: auto;
				background: #25787F;
			}

			&:after{
				content: '';
				display: block;
				width: 134px;
				flex: none;
				background: url(../img/content-images/water-level.png) no-repeat center center / contain;
			}
		}
	}

	.cmp-list{
		counter-reset: ol;

		li{
			counter-increment: ol;
			display: flex;
			flex-direction: column;
			color: $text-dark;
			font-size: 16px;
			line-height: 1.5;

			&:after{
				content: '0'counter(ol);
				font-size: 50px;
				line-height: 1;
				color: $primary;
				margin-top: 20px;
				font-family: $second-font;
				font-weight: bold;
			}

			a{
				color: inherit;
				font-weight: bold;

				&:hover,
				&:focus{
					color: $primary;
				}
			}
		}
	}

	@media screen and (min-width: 1330px){
		padding: 183px 0 189px;

		.cmp-list{
			position: absolute;
			left: 30px;
			top: 0;

			li{
				width: 270px;
				position: absolute;
				top: 0;
				min-height: 199px;

				&:before{
					content: '';
					display: block;
					width: 19px;
					height: 199px;
					background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19 199'%3E%3Cpath stroke='%2397BA56' stroke-width='2' stroke-dasharray='3 3' d='M10 14v185'/%3E%3Ccircle cx='9.5' cy='9.5' r='9.5' fill='%23fff'/%3E%3Ccircle cx='9.5' cy='9.5' r='4.5' fill='%239CC155'/%3E%3C/svg%3E") no-repeat center center / contain;
					position: absolute;
					left: -30px;
					top: 0;
				}

				.item-text{
					min-height: 72px;
				}

				&:nth-child(1){
					left: calc(165px * 0);
				}

				&:nth-child(2){
					left: calc(165px * 1);
				}

				&:nth-child(3){
					left: calc(165px * 2);
				}

				&:nth-child(4){
					left: calc(165px * 3);
				}

				&:nth-child(5){
					left: calc(165px * 4);
				}

				&:nth-child(6){
					left: calc(165px * 5);
				}

				&:nth-child(7){
					left: calc(165px * 6);
				}

				&:nth-child(even){
					top: 273px;
					flex-direction: column-reverse;

					&:before{
						transform: scaleY(-1);
						top: auto;
						bottom: 0;
					}

					&:after{
						margin-top: 0;
						margin-bottom: 20px;
					}
				}
			}
		}
	}

	@media screen and (max-width: 1329px){
		.cmp-scale{
			display: none;
		}

		.cmp-list{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 30px;

			li{
				&:after{
					order: -1;
					margin-top: 0;
					margin-bottom: 20px;
				}
			}
		}
	}

	@media screen and (max-width: 767px){
		.cmp-list{
			grid-template-columns: repeat(2, 1fr);
		}
	}

	@media screen and (max-width: 479px){
		.cmp-list{
			grid-template-columns: repeat(1, 1fr);
		}
	}
}